In [1]:
34

34

In [3]:
3*4

12

Here is a cell to contain text. 

# We can have titles

## Subtitles

In [4]:
2**3

8

In [6]:
newVariable = 3*4
word1 = 348

348

In [12]:
newNumberFloat = 4.5234
anotherNumber = -343.23934
fraction = 10/11
newNumberFloat
print(anotherNumber)
newNumberFloat

-343.23934

4.5234

In [8]:
newVar_text = 'Hello World'
newVar_text

'Hello World'

In [ ]:
## Search 'How to iterate a list' - stackoverflow.com 
newCode = 343* 4354

In [9]:
task1 = 5 * (4 + (10/11)) - (5 + (13/15)) + (2 ** (6*1/3)) - (11/12)
task1

21.76212121212121